.accordion
	.accordion__item
		.accordion__header Element 1
		.accordion__content
			p Content 1

	.accordion__item
		.accordion__header Element 2
		.accordion__content
			p Content 2

	.accordion__item
		.accordion__header Element 3
		.accordion__content
			p Content 3