label.checkbox
	input.checkbox__input(type='checkbox' name='sex')
	span.checkbox__box
	|   First

label.checkbox
	input.checkbox__input(type='checkbox' name='age' checked)
	span.checkbox__box
	|   Second

label.checkbox
	input.checkbox__input(type='checkbox' name='type' disabled checked)
	span.checkbox__box
	|   Third

label.checkbox
	input.checkbox__input(type='checkbox' name='loaded' disabled)
	span.checkbox__box
	|   Fourth
