header.header 
  .header__container 
    a.header__logo.logo(href="#") Logo 
    nav.header__menu.menu 
      ul.menu__list
        for link in navLinks
          +menuLinks(link.url, link.name, "_link")

    include iconMenu