.tabs(data-tabs='tabs-example')
	.tabs__nav
		button.tabs__trigger(type='button') Tab 1
		button.tabs__trigger(type='button') Tab 2
		button.tabs__trigger(type='button') Tab 3
	.tabs__content
		.tabs__panel Content 1
		.tabs__panel Content 2
		.tabs__panel Content 3