.footer {
  padding: rem(20) 0;
  background: var(--black-color);

  // .footer__container
  &__container {
    display: flex;
    align-items: center;

    @include media-mx(510) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
