@import "../config/functions";
@import "../config/mixins";

.header {
	z-index: 50;
	inline-size: 100%;
	transition: background-color var(--bs-transition);

	.header-is-sticky & {
		// ..стили для липкого хедера
		position: fixed;
		background-color: #007aff;
	}

	// .header__container
	&__container {
		display: flex;
		block-size: rem($header-height);
		align-items: center;

		.header-is-sticky & {
			block-size: rem($header-height - 50);
		}
	}
}

// Burger

/*
.icon-menu {
  display: none;

  @include media-mx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
