.tabs {
  display: flex;
  flex-direction: column;
  gap: rem(10);

  // .tabs__nav
  &__nav {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  // .tabs__trigger
  &__trigger {
    padding: rem(10);
    transition: 0.2s ease-in-out;

    &.active {
      background-color: #ff4040;
      color: #fff;
    }
  }

  // .tabs__content
  &__content {
  }

  // .tabs__panel
  &__panel {
    animation: fade-up-big 0.4s forwards;
    display: none;

    &.active {
      display: block;
    }
  }
}
