extends layouts/base

//- Place to connect a variables:
block vars
	- pageTitle = data.pageTitle
	include vars

//- Place to connect the header
block header
	include partials/header

//- Place to connect content of the page:
block contentPage
	main.page
		div(data-observ)
		.page__container
			//- Example Components:
			include partials/tabsExample
			include partials/accordionExample
			include partials/popupExample
			include partials/checkBoxesExample

//- Place to connect the footer:
block footer
	include partials/footer