.footer {
  padding: rem(20) 0;
  background: $blackColor;
  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    @include media(510) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
