// =====================================================================================================================
.header {
  width: 100%;
  &.sticky {
    // ..стили для липкого хедера
  }
  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
  }
}
// =====================================================================================================================

// Burger
/*
.icon-menu {
  display: none;
  @include media(767) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/