.header {
  height: $headerHeight;
  // .header__container
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  // .header__logo
  &__logo {
    height: 100%;
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    @include adaptiveFont(36, 18);
    line-height: $headerHeight;
    color: $whiteColor;
    background: $blackColor;
  }
  // .header__menu
  &__menu {
    margin-left: auto;
  }
  // .header__shedule
  &__shedule {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include adaptiveValue('margin-left', 50, 5, 0);
    @media (max-width: 768.98px) {
      margin-left: auto;
    }
  }
  // .header__phone
  &__phone {
    @include adaptiveValue('margin-bottom', 10, 5, 0);
    font-weight: 700;
    @include adaptiveFont(18, 14);
    transition: $standartTrans;
    &:hover {
      color: $redColor;
    }
  }
  // .header__time
  &__time {
    @include adaptiveFont(14, 10);
  }
  // .header__burger-btn
  &__burger-btn {
    @media (max-width: 768.98px) {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      background: transparent;
      margin-left: 10px;
      &:hover {
        & svg {
          & path {
            transition: $standartTrans;
            fill: $redColor;
          }
        }
      }
    }
  }
}
.menu {
  @media (max-width: 768.98px) {
    display: none;
  }
  // .menu__list
  &__list {
    display: flex;
  }
  // .menu__item
  &__item {
    transition: $standartTrans;
    &:not(:last-child) {
      @include adaptiveValue('margin-right', 30, 5, 2);
    }
    &:hover {
      background: $blackColor;
      & .menu__link {
        color: $whiteColor;
      }
    }
  }
  // .menu__link
  &__link {
    height: 100%;
    @include adaptiveValue('padding-left', 18, 5, 0);
    @include adaptiveValue('padding-right', 18, 5, 0);
    @include adaptiveFont(14, 11);
    line-height: $headerHeight;
    text-transform: uppercase;
    transition: $standartTrans;
  }
}
