block vars
	- var pageTitle = "Главная"

include ../mixins/baseMixins

doctype html
html(lang=data.language)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
		link(rel="stylesheet", href="css/style.min.css")
		block linkStyles
		title=pageTitle

	body
		.wrapper
			block header
			block contentPage
			block footer

		script(src="js/app.min.js")
		block scripts