@import "functions";
@import "mixins";

/** Базовые анимации: */
@import "keyframes";

/** Стили для полноэкранного блока: */
// @import "fullscreen";

/*
* (i) Стили будут применяться ко
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*="__container"] {
	margin-inline: auto;
	max-inline-size: rem($max-width-container);
	padding-inline: rem($main-offset);
}

// Стили отзывчивых картинок (IBG) ============================================
.ibg {
	position: relative;

	img {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		object-fit: cover;
		block-size: 100%;
		inline-size: 100%;
	}

	&_contain {
		img {
			object-fit: contain;
		}
	}
}

// Оболочка ===================================================================
.wrapper {
	display: flex;
	min-block-size: 100%;

	/** Поменять на clip - если используется в проекте position: sticky */
	overflow: hidden;
	flex-direction: column;
}

.page {
	position: relative;
	flex: 1 1 auto;

	[data-observ] {
		pointer-events: none;
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		block-size: rem(2);
		inline-size: 100%;
		background: transparent;
	}

	&_start {
		padding-block-start: rem($header-height);
	}
}
