@import "functions";
@import "mixins";

/** Базовые анимации: */
@import 'keyframes';

/** Стили для полноэкранного блока: */
// @import "fullscreen";

/*
* (i) Стили будут применяться ко
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*='__container'] {
	max-width: rem($max-width-container);
	margin-inline: auto;
	padding-inline: rem($main-offset);
}

// Стили отзывчивых картинок (IBG) ============================================
.ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&_contain {
		img {
			object-fit: contain;
		}
	}
}

// Оболочка ===================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	/** Поменять на clip - если используется в проекте position: sticky */
	overflow: hidden;
}

.page {
	position: relative;
	flex: 1 1 auto;

	[data-observ] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: rem(2);
		background: transparent;
		pointer-events: none;
	}

	&_start {
		padding-top: rem($header-height);
	}
}
