// !TO %:
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

// !REM:
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

// !EM:
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}