::-webkit-scrollbar {
  width: 12px;
  background-color: $whiteColor;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $firstAccentColor;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(#000, 20%);
  border-radius: 10px;
  background-color: #f9f9fd;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;

  &__start {
    padding-top: $headerHeight;
  }
}
[class*="__container"] {
  max-width: 1170px + $mainOffset * 2;
  margin: 0 auto;
  padding: 0 $mainOffset;
}