* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: $blackColor;
}

*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus,a:active {
  outline: none;
}

nav,footer,header,aside {
  display: block;
}

html,body {
  height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
  font-family: $mainFont;
  font-weight: 400;
}

input,button,textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
} 

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

ul, li {
  list-style: none;
} 

img {
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  font-size:inherit;
  font-weight: 400;
}