// Firefox
* {
  scrollbar-width: rem(8);
  scrollbar-color: var(--primary-color) #d6d6d6;

  // Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width: rem(8);
    background-color: var(--white-color);
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 rem(6) rgba(#000, 20%);
    border-radius: rem(4);
    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(4);
    border: 0 none #fff;
    background-color: var(--primary-color);

    &:hover {
      background-color: var(--primary-hover-color);
    }
  }
}