// отступы безопасности для контейнера
$main-offset: 15;

// максимальная ширина страницы
$max-width: 1920;

// минимальная ширина телефона
$min-width: 320;

// ширина контейнера из макета
$container-width: 1160;

// ширина контейнера с учетом padding слева и справа
$max-width-container: $container-width + ($main-offset * 2);
$header-height: 100;
$footer-height: 100;
