$main-offset: 15; // отступы безопасности для контейнера
$max-width: 1920; // максимальная ширина страницы
$min-width: 320; // минимальная ширина телефона
$container-width: 1160; // ширина контейнера из макета
$max-width-container: $container-width + ($main-offset * 2); // ширина контейнера с учетом padding слева и справа

$header-height: 100;
$footer-height: 100;
