@font-face {
                font-family: Pushster;
                font-display: swap;
                src: url("../fonts/Pushster-Regular.woff2") format("woff2"),
                    url("../fonts/Pushster-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
