@import 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dabfbf;
  background: url('@img/i-am.jpg');
  h1 {
    font-family: Pushster;
    font-weight: 400;
    color: green;
    font-size: 60px;
  }
}

.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}